@model Aeroporto_Prototipo.Models.ModeloAeronave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModeloAeronave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadePoltronas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadePoltronas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadeCombustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadeCombustivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdModelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
