@model Aeroporto_Prototipo.Models.Cidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCidade">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
