@model Aeroporto_Prototipo.Models.Voo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevistoDecolagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevistoDecolagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevistoPouso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevistoPouso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDecolagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDecolagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoPouso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoPouso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeronaveNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeronaveNavigation.IdAeronave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinoNavigation.IdAeroporto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidaNavigation.IdAeroporto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVoo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
